<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas CEI</title>
    <!-- Frameworks de estilo e iconos -->
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/dadefa4b45.js" crossorigin="anonymous"></script>

</head>

<body style="background-color: #C9E4CA;">

    <div id="app">
        <div style="background-color: #C9E4CA;">
            <nav class="navbar navbar-expand-lg navbar-light container-fluid" style="background-color: #364958;">
                <div class="container-fluid text-center">
                    <div>
                        <a class="navbar-brand mb-1" href="#">
                            <img src="Images/logo.png" alt="" width="45" height="45">
                        </a>
                        <a class="navbar-brand text-light" href="#">CEI Becas</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="">
                        <button type="button" class="btn text-light mx-1" style="background-color: #55828B;"><i
                                class="fa-solid fa-download px-1"></i>Exportar</button>
                    </div>
                </div>
            </nav>
            <div class="row container-fluid text-center py-4 justify-content-evenly" style="background-color: #55828B;">
                <div class="col-3">
                    <label for="fileRespuestas" class="form-label text-light"><i
                            class="fa-solid fa-upload px-2 text-light"></i>Importar respuestas</label>
                    <input class="form-control" type="file" id="fileRespuestas" @change="upload">
                </div>
                <div class="col-3">
                    <label for="formFile" class="form-label text-light"><i
                            class="fa-solid fa-upload px-2 text-light"></i>Importar ponderaciones</label>
                    <input class="form-control" type="file" id="filePesos" @change="getWeights">
                </div>
            </div>

            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Nro</th>
                            <th scope="col" v-for="column in columns">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row,index) in rows">
                            <th scope="row">{{ index }}</th>
                            <td v-for="val in row">{{ val }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- CSV parser -->
    <script src="Scripts/papaparse.js"></script>

    <!-- Vue framework -->
    <script src="Scripts/vue.global.js"></script>

    <script src="Scripts/vue.js"></script>
</body>

</html>